// Start:: Root Element
:root {
    .v-theme--dark {
        --v-theme-background: rgb(31, 38, 50);
        --card-bg: rgb(51, 59, 74);
        --text-clr: rgb(207, 227, 232);
        --cyan-clr: hsl(150, 100%, 66%);
        --gray-clr: rgb(79, 93, 115);
    }

    // Grayish Blue: hsl(217, 19%, 38%)
    // Dark Grayish Blue: hsl(217, 19%, 24%)
}


// End:: Root Element